<!DOCTYPE html>
<html ng-app="applyForPrivatePlacement">
<head>
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Afica Prudential Registrars Plc :: Apply for Initial Public Offer</title>
<link rel="icon" th:href="@{/images/lg.png}"/>
<link rel="stylesheet" th:href="@{/styles/vendor/pace-dataurl.css}"/> 
<link rel="stylesheet" th:href="@{/styles/mainstyle.css}"/> 

<script th:src="@{/scripts/vendor/modernizr.js}"></script>

</head>

<body ng-controller="applyForPrivatePlacementController">
<div class="row full-width">
    	<div class="large-12 small-12 columns text-center title">
        	<span id="title">Apply for Private Placement</span>
        </div>
</div>
<div class="formRow">
<div class="row notification" style="margin-left:10px;margin-top:10px;padding:0px;display:none">
	<div class="large-8 columns" style="float:left">
    	<div data-alert class="alert-box alert">
            Please complete all fields marked * to continue
        </div>
    </div>
</div>

<form th:action= "'../'+${formAction} + '&' + ${_csrf.parameterName}  + '='+ ${_csrf.token}" data-abide method="post" class="applyForPrivatePlacementForm full-width"  style="padding-left:10px;padding-right:10px" data-abide>

<div class="row full-width upload-signature" style="font-size:13px;padding-top:10px;margin-left:10px;margin-right:20px">
	<!--large-8-->
    <div class="large-8 columns">
        
    	<div class="row">
        	<div class="large-4 columns" id="confirm-details">Holder's Name</div>
            <div class="large-8 columns" id="confirm-entries">
            	<span th:text="${holder.firstName}+' '+${holder.middleName}+' '+${holder.lastName}"></span>
            </div>
        </div>
        
        <!--row-->
        <div class="row">
        	<div class="large-4 columns" id="confirm-details">Holder's Address</div>
            
            <!--large-8-->
            <div class="large-8 columns" id="confirm-entries" style="height:auto">
            	
                <!--row-->
                <div class="row">
                	<div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].addressLine1}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].addressLine2}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].addressLine3}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].addressLine4}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].postCode}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].city}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].state}"></span>
                    </div>
                    <div class="large-12 columns">
                    	<span th:text="${holder.residentialAddresses[0].country}"></span>
                    </div>
                </div>
                <!--end of row-->
                
            </div>
            <!--end of large-8-->
            
        </div>
        <!--row-->
        
        <div class="large-12 columns ipoDiv" style="margin-top:30px">
            <div class="row">
            	<div class="large-3 columns" style="padding-top:10px">
                	<span class="required" style="color:red">*</span>&nbsp;Issuer
                </div>
                <div class="large-8 columns">
                	<select name = "issuer" ng-model="issuer" ng-options ="issuer.name for issuer in issuers" ng-init="issuer=issuers[0]" required>
                    </select>
                    <input type="hidden" value="{{issuer.name}}" name="issuer">
                    <input type="hidden" value="{{issuer.id}}" name="initialPublicOfferId">
                    <span class="error">Please select Issuer</span>
                </div>
            </div>
            
            <div class="row" style="margin-top:10px">
            	<div class="large-3 columns" style="padding-top:10px">
                	<span class="required" style="color:red">*</span>&nbsp;Share Units Subscribe
                </div>
                <div class="large-8 columns">
                	<input type="number" ng-model="sharesSubscribed" name="sharesSubscribed" required min="0"/>
                    <span class="error">Please enter unit subscribed</span>
                </div>
            </div>
            
             <div class="row" style="margin-top:10px">
            	<div class="large-3 columns" style="padding-top:10px">
                	<span class="required" style="color:red">*</span>&nbsp;Amount Paid
                </div>
                <div class="large-8 columns">
                	<input type="number" ng-model="amount_paid" name="amountPaid" required min="0"/>
                    <span class="error">Please enter amount paid</span>
                </div>
            </div>
            
            <div class="row">
            	<div class="large-3 columns" style="padding-top:10px">
                	<span class="required" style="color:red">*</span>&nbsp;Issuing House
                </div>
                <div class="large-8 columns">
                	<select name = "issuer" ng-model="issuing_house" ng-options="issuing_house.name for issuing_house in issuingHouses" ng-init="issuing_house=issuingHouses[0]" required>
                    </select>
                    <input type="hidden" value="{{issuing_house.name}}" name="issuingHouse">
                    <span class="error">Please select Issuing House</span>
                </div>
            </div>
            
            <div class="row" style="margin-top:20px">
            	<div class="large-12 columns text-right">
                	<input type="button" class="button resetForm" value="Reset Form">&nbsp;&nbsp;
                	<input type="button" class="button applyForPrivatePlacementButton" value="Apply For Private Placement">
                </div>
            </div>
            
            
        </div>
        
     <div class="row confirmIPOSetup" style="margin-top:20px;display:none">
		<div class="large-12 columns">
        	
            <div class="row">
            	<div class="large-3 columns" id="confirm-details">
                	Issuer
                </div>
                
                <div class="large-9 columns" id="confirm-entries">
                	{{ issuer.name }}
                </div>                
            </div>
            
             <div class="row">
            	<div class="large-3 columns" id="confirm-details">
                	Share Units Subscribe
                </div>
                
                <div class="large-9 columns" id="confirm-entries">
                	{{ sharesSubscribed }}
                </div>                
            </div>
            
            <div class="row">
            	<div class="large-3 columns" id="confirm-details">
                	Amount Paid
                </div>
                
                <div class="large-9 columns" id="confirm-entries">
                	{{ amount_paid }}
                </div>                
            </div>
            
            <div class="row">
            	<div class="large-3 columns" id="confirm-details">
                	Issuing House
                </div>
                
                <div class="large-9 columns" id="confirm-entries">
                	{{issuing_house.name}}
                </div>                
            </div>
            
            <div class="row" style="margin-top:20px">
            	<div class="large-12 columns text-right">
                	<input type="button" class="button applyForPrivatePlacementBack" value="&laquo; Back"/>&nbsp;&nbsp;
                    <input type="button" class="button applyForPrivatePlacementSaveAndContinue" value="Save &amp; Countinue">
                </div>
            </div>
            
        </div>
	</div>
    
    
    </div>
   
    
   
    
</div>
</form>
</div>


<script th:src="@{/scripts/vendor/jquery.js}"></script>
<script th:src="@{/scripts/vendor/foundation.min.js}"></script>
<script th:src="@{/scripts/vendor/foundation.abide.js}"></script>
<script th:src="@{/scripts/vendor/angular.min.js}"></script>
<script  th:src="@{/scripts/vendor/jquery.form.min.js}"></script>
<script th:src="@{/scripts/utility.js}"></script>
<script th:src="@{/scripts/Holder/applyForPrivatePlacement.js}"></script>
<script>
$(document).foundation();
</script>         

</body>
</html>
