<!DOCTYPE html>
<html ng-app="mergeShareholderAccountApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Africa Prudential Registrars Plc :: Demerge Shareholder Accounts</title>
<link rel="icon" th:href="@{/images/lg.png}"/>
<link rel="stylesheet" th:href="@{/styles/vendor/pace-dataurl.css}"/> 
<link rel="stylesheet" th:href="@{/styles/mainstyle.css}"/> 
<link rel="stylesheet" th:href="@{/styles/vendor/foundation-datepicker.css}"/> 

<script th:src="@{/scripts/vendor/modernizr.js}"></script>
<style>
	.useraccountdiv:nth-of-type(even){
		  background: #efeeee;
	}
</style>
</head>

<body ng-controller="mergeShareholderCtrl">
<div class="row full-width">
    	<div class="large-12 small-12 columns text-center title">
        	<span id="title">Demerge Shareholder Accounts</span>
        </div>
        <input type="hidden" th:value="${formAction} + '&' + ${_csrf.parameterName}  + '='+ ${_csrf.token}" class="action"/>
       

            <div class="row" style="padding-left:2%;padding-top:4.8%">
                 <ul class="tabs" data-tab>
                      <li class="tab-title active">
                      		<a href="#queryShareholder" class="queryShareholder">Query Shareholder</a>
                      </li>
                      
                      <li class="tab-title">                      	
                       <a href="#confirmAccountDeMergeDetails" class="confirmAccountDeMergeDetails">Confirm Account Demerge Details</a>
                        </li>
                      
                 	</ul>
                     <div style="width:80%;background:none;height:40px;top:-40px;position:relative;display:block"></div>
                     
                      <div class="tabs-content" style="font-size:13px;margin-top:-40px;position:relative">
                     
                     <div class="large-8 columns" style="height:58px">
                     	<div class="row error-alert"  style="padding-bottom:5px;padding-left:1px;width:100%;display:none;padding-top:5px">
                        	<div data-alert class="large-12 columns large-centered alert-box alert" style="padding-bottom:7px;padding-top:7px">Please fill out all entries marked * to continue and make sure they contain the right entries</div>
                        </div>
                     </div>
                     <div class="large-4 columns" style="float:right">
                            <button class="button previous" style="display:none">&laquo; &nbsp;Previous </button>
                            <button class="button next">Next &nbsp; &raquo;</button>
                      </div>  
                   
                    	<div  class="content active" id="queryShareholder" style="float:right">
                        	<iframe class="large-12 columns" style="border:none;display:block;margin:0;padding:0;height:500px" src="" frameborder="0" seamless></iframe>
                        </div>
                        
                        
                        <div class="content " id="confirmAccountDeMergeDetails">
                        	<div class="row " style="margin-left:50px">
                            	<div class="large-6 columns confirmAccountList" style="font-weight:bold;padding:5px">
                                	Primary Account
                                </div>
                                
                                
                                 <div class="large-12 columns text-right" style="font-weight:bold;padding:5px;padding-right:50px">
                                 <input type="button" class="button resetForm" value="Reset Form"/>
                                	<input type="button" class="button confirmAndDeMergeAccounts" value="Confirm &amp; Demerge Accounts"/>
                                </div>
                            </div>
                        </div>
                       
                   </div>
                   
                   
            </div>
       <!--</form>-->
</div>
<input type="hidden" value="demergeAccount" class="location"/>
<input type="hidden" class="shareholderList"/>
<script th:src="@{/scripts/vendor/jquery.js}"></script>
<script th:src="@{/scripts/vendor/foundation.min.js}"></script>
<script th:src="@{/scripts/vendor/angular.min.js}"></script>
<script  th:src="@{/scripts/vendor/foundation-datepicker.js}"></script>
<script th:src="@{/scripts/utility.js}"></script>
<script th:src="@{/scripts/Holder/deMergeShareholderAccount.js}"></script>
<script>
$(document).foundation();
</script>         
</body>
</html>
